<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.neuhalfen.todosimple.todosimple" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.TodoListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TodoDetailActivity"
            android:label="@string/title_todo_detail"
            android:parentActivityName=".view.TodoListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.neuhalfen.todosimple.todosimple.view.TodoListActivity" />
        </activity>
        <provider
            android:exported="false"
            android:name=".infrastructure.contentprovider.TodoContentProvider"
            android:authorities="name.neuhalfen.todosimple.todosimple.TODOS"  />
    </application>


</manifest>
